@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0px;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.display-flex {
    display: flex;
}

.navbar {
    width: 85%;
    max-width: 1360px;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
}

.nav-itams {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.nav-links {
    align-items: center;
    gap: 32px;
}

.btn {
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    padding: 16px 12px;
    font-size: 16px;
    cursor: pointer;
}

/* header{
    background-image: url("../assets/hero-bg.png");
}

.hero-contant {
    flex-direction: column;
    align-items: center;
    margin: 115.5px auto 179.5px;
    border: 2px solid red;
    gap: 16px;
}

.play-btn {
    flex-direction: row;
}



.hero-contant h1 {
    font-weight: 900;
    font-size: 72;
    color: #30B868;
}

.hero-contant .btn-1 {
    border-radius: 1000px;
    background-color: #FFFFFF;
    color: #469165;
} */
