@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding-top: 16px
}

.hero-section {
    background: url("../assets/hero-bg.png");
    padding-top: 16px;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.display-flex {
    display: flex;
}

.navbar {
    width: 85%;
    max-width: 1360px;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
}

.nav-itams {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.nav-links {
    align-items: center;
    gap: 32px;
}

.btn {
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    padding: 16px 12px;
    font-size: 16px;
    cursor: pointer;
}

.hero-section .hero-contant {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 115px 120px 179px;
}

.btn-1 {
    background-color: #FFFFFF;
    color: #469165;
    border-radius: 1000px;
    padding: 8px 12px;
    margin-bottom: 16px;
}

.hero-contant h1 {
    font-size: 72px;
    font-weight: 800;
    color: #FFFFFF;
    line-height: 84px;
    margin-bottom: 16px;
}

.hero-contant p {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
}

.text-color {
    color: #30B868;
}

.hero-btn {
     justify-content: center;
     gap: 16px;
}

.btn-3 {
    background-color: none;
}

.btn-3 {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}