@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.display-flex {
    display: flex;
}

.navbar {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 16px auto;
}

.nav-itams {
    list-style-type: none;
    margin: 0px 32px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.btn {
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    padding: 16px 12px;
    font-size: 16px;
}